<html lang='es'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <title>Entregable N°5</title>
</head>

<body>
    <%- include('partials/nav') %>
        <table class='table'>
            <thead class='table__head'>
                <th class='table__th'>ID</th>
                <th class='table__th'>Nombre</th>
                <th class='table__th'>Precio</th>
                <th class='table__th'>Imagen</th>
            </thead>
            <tbody>

                <% if (!products) { %>
                    <tr class='table__tr'>
                        <td class='table__td'></td>
                        <td class='table__td'>No se hallaron productos</td>
                        <td class='table__td'></td>
                        <td class='table__td'></td>
                    </tr>
                <% } else { %>
                    <% products.forEach(product=> { %>
                        <tr class='table__tr'>
                            <td class='table__td'>
                                <%= product.id %>
                            </td>
                            <td class='table__td'>
                                <%= product.nombre %>
                            </td>
                            <td class='table__td'> AR$<%= product.precio %>
                            </td>
                            <td class='table__td'> <img src="<%= product.urlImagen %>" height="30px"> </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
</body>

</html>