<div class="serverInfo__container">
  <h2 class="serverInfo__title">Información del servidor</h2>

  <table class="serverInfo__table">
    <tbody class="serverInfo__table-body">
      <tr>
        <td>Argumentos de entrada</td>
        <td>{{entryArgs}}</td>
      </tr>

      <tr>
        <td>Nombre de la plataforma (sistema operativo)</td>
        <td>{{platformName}}</td>
      </tr>

      <tr>
        <td>Versión de node.js</td>
        <td>{{nodeVersion}}</td>
      </tr>

      <tr>
        <td>Memoria total reservada (rss)</td>
        <td>{{memoryReserved}}</td>
      </tr>

      <tr>
        <td>Path de ejecución</td>
        <td>{{executionPath}}</td>
      </tr>

      <tr>
        <td>Process id</td>
        <td>{{pid}}</td>
      </tr>

      <tr>
        <td>Carpeta del proyecto</td>
        <td>{{projectFolder}}</td>
      </tr>

      <tr>
        <td>Número de núcleos</td>
        <td>{{processorCores}}</td>
      </tr>
    </tbody>
  </table>
</div>