{{> nav}}

<table class="table">
  <thead class='table__head'>
    <th class='table__th'>ID</th>
    <th class='table__th'>Nombre</th>
    <th class='table__th'>Precio</th>
    <th class='table__th'>Imagen</th>
  </thead>
  <tbody>
    {{#if products}}
      {{#each products}}
        <tr class='table__tr'>
          <td class='table__td'>{{this.id}}</td>
          <td class='table__td'>{{this.title}}</td>
          <td class='table__td'>AR${{this.price}}</td>
          <td class='table__td'><img src="{{this.thumbnail}}" /></td>
        </tr>
      {{/each}}
    {{else}}
        <tr class='table__tr'>
          <td class='table__td'></td>
          <td class='table__td'> No se hallaron productos </td>
          <td class='table__td'></td>
          <td class='table__td'></td>
        </tr>
    {{/if}}
  </tbody>
</table>